<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>New Ad (Cookie)</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 jumbotron">
                <form method="post" action="/homecookie/newadcookie">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" placeholder="Name" class="form-control" name="name" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="Phone Number" class="form-control" name="phone" />
                        </div>
                    </div>
                    <br />
                    <textarea name="text" class="form-control" rows="10" placeholder="Description"></textarea>
                    <br />
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </main>
</div>